@import '../../assets/styles/theme';

.text {
  border-style: solid;
  padding: 50px;
  margin-left: 10px;
  margin-right: 87%;
  border-width: 2px;
  border-color: $red;
  border-radius: 5px;
}

.button {
  border-radius: 8px;
  margin-left: 60px;
}
